.body {
    color:#555555;
    line-height:1.5em;
    transition: all 1s;
}


.box{
    background-color:rgb(240,230,140);
    color: black;
    font-family:"Andale Mono", monospace;
    font-size:18px;
    transition: all 1.5s;
}

.box dark{
    position: absolute;
    top: 150px;
    left: 1270px;
    font-family: SongTi;
    font-weight: 800;
}

.box h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 10000;
    font-style: italic;
}

.base {
    -webkit-text-stroke: rgb(123,104,238)  2px;
    color: transparent;
}

.high {
    position: absolute;
    color: rgb(65,105,225);
    animation: move 3s ease-in-out infinite;
    top: 0px;
    left: 398px;
}


@keyframes move{
    0%{
        clip-path: polygon(0% 62%, 14% 55%, 24% 51%, 32% 51%, 41% 56%, 50% 59%, 60% 59%, 69% 55%, 76% 49%, 84% 48%, 93% 50%, 100% 54%, 100% 100%, 0 100%);
    }
    50%{
        clip-path: polygon(0% 62%, 10% 62%, 23% 68%, 36% 68%, 44% 64%, 50% 59%, 59% 54%, 67% 55%, 74% 59%, 86% 62%, 94% 61%, 100% 54%, 100% 100%, 0 100%);
    }
100%{
        clip-path: polygon(0% 62%, 14% 55%, 24% 51%, 32% 51%, 41% 56%, 50% 59%, 60% 59%, 69% 55%, 76% 49%, 84% 48%, 93% 50%, 100% 54%, 100% 100%, 0 100%);
    }
}

.box pre1 {
    position: relative;
    font-family: KaiTi;
    font-weight: 700;
    font-style: italic;
}

.box .boxx{
    border: 5px dotted black;
    border-radius: 35px;
    margin:20px 500px 20px 0px;
    padding: 10px;
}

.box .boxx1{
    border: 5px dotted black;
    border-radius: 35px;
    margin:20px 500px 20px 0px;
    padding: 10px;
}

.box .boxx2{
    border: 5px dotted black;
    border-radius: 35px;
    margin:20px 500px 20px 0px;
    padding: 10px;
}

.box pre5{
    font-family: KaiTi;
}

.box .switch {
    position: absolute;
    top: 100px;
    right: 170px;
    width: 80px;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: all 3s;
}

.box .switch .circle{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 28px;
    height: 28px;
    background-color: black;
    border-radius: 50%;
    transition: all 1s;
}

.blackCircle {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: greenyellow;
    transition: all 1s;
}
